<div class="row navbar navbar-default">
  <div class ="container-fluid">
     <ul class="nav navbar-nav">
       <li><%= link_to "Home", root_path %></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
       <li><%= link_to "Log In", login_path %></li>
     </ul>
  </div>
</div>
